:root{
  --principal-color: rgb(196, 171, 163) ;
  --font-color: rgb(52, 13, 0) ;
  --secondary-color: rgb(225, 213, 208) ;
  --third-color: rgb(255, 63, 0)  ;
}
body{
  background-color: var(--secondary-color);
  color: var(--font-color);
}
/* body.entrance{
  background-color: var(--secondary-color);
  color: var(--font-color); */
/* } */
.bg-custom {
  background-color: var(--principal-color);
  color: var(--font-color);
}
.link-error:hover{
  color: var(--secondary-color);
  text-decoration: none;
}
.link{
  color: var(--font-color);
  text-decoration: none;
}
.link:hover{
  color: var(--font-color) ;
  cursor: pointer; 
}
.h1{
  color: var(--font-color);
}
.h3{
  color: var(--font-color);
}
.btn-custom{
  background-color: var(--third-color);
  color: var(--font-color);
}
span{
  position: absolute;
  top: 5cm;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0px 0px 0px 0px;
  color: var(--secondary-color);
  text-align: center;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--secondary-color);
  border: 1px solid rgb(196, 171, 163) !important;
  color: var(--font-color);
  border-radius: 3px !important;
}
.card-img-top{
  height: 150px;
}
.comentar{
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid gray;
}
.elements-list{
  list-style: none;
}
.age{
  color: gray;
}
.icons-page{
  width: 100%;
  height: 50px;
  background-color: #c4aba4;
}
.a-icon{
  color: black;
  background-color: var(--principal-color);
}
.img-sinrostro{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.advertisement{
  height: 100%;
}
.video{
  width: 500px;
  height: 400px;
}
.mapa{
  width: 500px;
  height: 400px;
}
.galeria h1 {
  font-size: 50px;
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 500;
  color: var(--font-color);
}
.title-galery{
  background-color: var(--principal-color);
  color: var(--font-color);
}
.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imagen{
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  background:var(--principal-color) ;
  width: 100%;
  height: 0%;
  transition: 1s ease;
  overflow: hidden;
}
.overlay h2 {
  color: var(--font-color);
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.overlay a {
  color: var(--font-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.imagen:hover .overlay {
  height: 100%;
  cursor: pointer;
}
.container-fluid {
background-color:var(--principal-color);
}
.logo-name-footer, .logo-name-footer .logo-img-footer {
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
}
.bi-facebook, .bi-twitter, .bi-instagram {
  font-size: 30px;
  color: var(--third-color);
}
.img-footer{
width: 100px;
height: 100px;
}
body.nosotros {
  color: var(--principal-color);
  background-color: var(--secondary-color);
  color: var(--font-color)
}
body.contacto {
  color: var(--principal-color);
  background-color: var(--secondary-color);
  color: var(--font-color)
}
body.login {
  color: var(--principal-color);
  background-color: var(--secondary-color);
  color: var(--font-color)
}
body.mapita {
  color: var(--principal-color);
  background-color: var(--secondary-color);
  color: var(--font-color)
}
.fondonosotros{
  background-color: var(--secondary-color);
  color: var(--font-color);
}
.icon-footer{
  text-decoration: none;
}
.lista-blogs{
  list-style: none;
}
.items-blogs{
  text-decoration: none;
  color: var(--font-color);
}
.button-items{
  border-radius: 5px;
  background-color: var(--secondary-color);
  width: 200px;
  color: var(--font-color);
}
.button-items:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px var(--secondary-color);
  transition: all 0.2s ease;
}
.button-items-art{
  border-radius: 5px;
  background-color: var(--secondary-color);
  width: 100px;
  align-items: center;
}
.button-items-art:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px var(--secondary-color);
  transition: all 0.2s ease;
}
.nuestros-blogs{
  border: 1px solid var(--principal-color);
  border-radius: 5px;
  background-color: var(--principal-color);
}
.btn-custom-1{
  background-color: var(--secondary-color);
  color: var(--font-color);
}
.text-dark{
  color: var(--font-color);
}
@media only screen and (max-width: 1100px) {
  .video{
    width: 400px;
    height: 300px;
  }
  
  .mapa{
    width: 400px;
    height: 300px;
  }
  .img-com{
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 992px) {
  .advertisement{
    display: none;
  }
  .video{
    width: 500px;
    height: 400px;
  }
  
  .mapa{
    width: 500px;
    height: 400px;
  }
  .img-com{
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 991px) {
  .comentar{
    height: 90px;
  }
  .overlay h2 {
    color: var(--font-color);
    font-size: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
  }
  .overlay a {
    color: var(--font-color);
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  h5{font-size: 32px;}  
}
@media only screen and (min-width: 768px) {
 
  .overlay h2 {
    color: var(--font-color);
    font-size: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
  }
  .overlay a {
    color: var(--font-color);
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    text-align: center;
  }  
}
@media only screen and (max-width: 768px) {
  .img-com{
    width: 100px;
    height: 100px;
  } 
  .img-sinrostro{
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 575px) {
  .img-com{
    width: 50px;
    height: 50px;
  } 
  .video{
    width: 300px;
    height: 200px;
  }
  .mapa{
    width: 300px;
    height: 200px;
  }
  .card-img-top{
    height: 400px;
  }
  .img-sinrostro{
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 400px) {

  .card-img-top{
    height: 300px;
  }
}
